#Catalogue-Container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}
#cat-heading{
    position: absolute;
    top:20rem;
    left: 60rem;
}

#Catalogue-Quote{
    padding: 10rem 10rem 0 20rem;
    color : #000;
    position: absolute;
    top:60rem;
    left: 4rem;
    font-family: 'Merriweather';
}
#Catalogue-Quote h1{
    font-size: 4rem;}
 #nextContainer p{
    text-align: left;
    font-size: 3rem;
    color: #000;
    margin-bottom: 1rem;
    font-family: 'Merriweather';
}
#catimg{
    padding: 0 17rem;
}
#catalogue{
    border: 2px solid grey;
    width: fit-content;
    display: flex;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20vw;
    flex-direction: column;
}
#btn h3{
    text-decoration: none;
    color: #000;
    font-size: 4rem;
    font-family: 'Merriweather';
}
#btn button{
    padding: 6px 19px;
    border-radius: 0px 50px;
    font-size: 3rem;
}