*{
    box-sizing: border-box;
    font-family: Merriweather;
}
.row{
    display: flex;
    justify-content: center;
    width: 90%;
    padding-top: 70px;
}
.container{
    display: flex;
    justify-content: center;
}
