*{
    box-sizing: border-box;
    font-family: Merriweather;
}

#heading-container{
    /* background: radial-gradient(20px 10px at 1095px 410px , #a1b2f3, #fefeff); */
    position: relative;
    display: flex;
    height: 620px;
    justify-content: center;
    align-items: center;
}
#color1{
    position: absolute;
    top: -30rem;
    height:70vh;
    background: radial-gradient(230px 180px at 265px 400px , #b6b6b6, transparent); 
    width: 90%;
    left: 10em;
    background-blend-mode: screen;
}
#color2{
    position: absolute;
    top: 20rem;
    height:70vh;
    width: 50%;
    /* background-color: #111110; */
    background: radial-gradient(350px 310px at 350px 300px , #bdcbeb,transparent);
    right: 0rem;
    background-blend-mode: screen;
    
}
.heading{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    position: absolute;
    top: 32rem;
    left: 25rem;
/* background: radial-gradient(circle  100px , #878e45, #fefffe); */

    font-size: 19rem;
    line-height: 1.1;
    text-align: center;

color: #000000;
}


#image-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 25rem;
    width: 100%;
    height: 100vh;
    padding-right: 30rem;
}

#image1, #image2{
width: 55rem;
object-fit: contain;
margin-right: 13rem;
}
#image2{
    margin-right: 0%;
    margin-top: 13rem;
}

#hover-container{
    display: flex;
    align-items: flex-start;
    height: 100vh;
    padding: 0 10rem;
    justify-content: center;
    margin: 0%;
    width: 100%;
}
.container1 {
    position: relative;
    display:inline-block;
    padding-top:10px;
  }
  
  .container1 img.swipeimage {
    position: absolute;
  width: 400px;
  height: 500px;
  object-fit: cover;
  transform: translate3d(0,0,0);
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0;
  pointer-events: none;visibility: hidden;

}

.banner-img{
    height: 100vh;
    padding: 10rem 0
}