.logo{
    height: 50px;
}
.mb-3 , .container-fluid{
    background-color: white;
    padding: 0px 40px;
}
#menu a {
    color: black  ;
    font-size: 2rem;
    background-color: rgb(205, 204, 216);
    border-radius: 60px;
    margin: 2px;
    text-align: center;
}

#menu a:hover{
    background-color: rgb(207, 219, 230);
    color: white;
}
#offcanvasNavbarLabel-expand-xl{
    font-size: 3rem;
}