#second h2{
    text-align: left;
    font-size: 6rem;
    color: #000;
    margin-bottom: 1rem;
}
#second
{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0px 20px;
    text-align: justify;
    justify-content: flex-start;

}
#second p{
    font-size: 2rem;
}
.container{
    display: flex;
 align-items: center;   
}