#third{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0px 20px;

}
#third h2{
    text-align: left;
    font-size: 6rem;
    color: #000;
    margin-bottom: 1rem;
}
#third p{
    font-size: 2rem;
}
#last{
    margin-bottom: 2rem;
}
