*{
    box-sizing: border-box;
    font-family: Merriweather;
}
.row{
    display: flex;
    justify-content: center;
    width: 90%;
    padding-top: 70px;
}
#contactus-Container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding: 0px;
    margin: 0px;

}
#contactus-Container h1{
    position: absolute;
    top:20rem;
    left: 52rem;
    text-align: center;
    font-size: 18rem;
    color: #000;
    font-weight: 400;
    margin-bottom: 19rem;
}
#contactus-Container h2{
    position: absolute;
    top:50rem;
    left: 17rem;
    text-align: center;
    font-size: 4rem;
    /* text-transform: sma */
    color: #000;
    font-weight: 400;
}   