#form{
    padding: 20px 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#form label{
    font-size:4rem;
    font-family: 'Merriweather';
}
#form input{
    font-size:3rem;
    padding: 10px;
    font-family: 'Merriweather';
}
#gd{
    border: 0px;
    border-bottom: 1px solid black;
}
#form small{
    font-size: 2rem;
}
#form button{
    font-size: 3rem;
}
#form .card{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#form .card-header{
    font-size: 5rem;
    color: #164F9C;
}
#form .card-title {
    font-size: 3rem;
}
#form .card-text{
    font-size: 2rem;
}