#form{
    /* padding: 20px 20px; */
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
#form1{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    background-color: transparent;
}
#form input{
    font-size:2.5rem;
    padding: 10px 15px;
    /* margin-bottom: 20px; */
    background-color: transparent;
    font-family: 'Merriweather';
}
#gd{
    border: 0px;
    background-color: none;
    background-clip: padding-box;
    border-bottom: 1px solid rgb(181, 179, 179);
}
#form small{
    font-size: 2rem;
}
#form button{
    font-size: 3rem;
    margin-bottom: 20px;
}
#form .card{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#form .card-header{
    font-size: 5rem;
    color: #164F9C;
}
#form .card-title {
    font-size: 3rem;
}
#form .card-text{
    font-size: 2rem;
}
#formBasicEmail{
    display: flex;
}