Navbar{
  background-color: white;
}
.navbar-brand{
  color: #000000;
}
button{
  background-color: rgb(115,145,184);
}

html{
  
  font-size: calc(100vw / 1920 * 10);
}
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
